$sidebar-width: 20rem;
$sidebar-padding: 2rem;

$header-height: 64px;

.zcash {
  display: flex;
  flex-direction: row;

  .main {
    background: $secondary-dark;
    width: calc(100vw - #{$sidebar-width});
    height: calc(100vh - #{2 * $sidebar-padding});
    padding: $sidebar-padding;
    overflow: hidden;

    &__scroller {
      max-height: 85vh;
      overflow-y: scroll;
    }

    &__no-scroller {
      height: calc(100vh - #{$header-height} - #{2 * $sidebar-padding});
      margin-bottom: 2rem;
    }
  }

  .sidebar {
    background: $primary-dark;
    width: $sidebar-width;
    height: 100vh;
  }
}