$primary-brand: #e5504c;
$primary-dark: #1d1d27;
$primary-light: #f9f9f9;
$secondary-brand: #41c3fd;
$secondary-dark: #252432;

$font-color-secondary: #4f4f5b;
$font-color-label: #84839a;
$font-color-input: #f9f9f9;
$font-color-sidebar-item: #807f96;

$input-bg-color: #323140;

// Dark Mojave Styles
$primary-background: #1e1e1e;
$primary-sidebar: #2e2d2b;
$primary-sidebar-active: #51504e;
$primary-text: #e9e9eb;
$primary-label: #a6a6a8;
$primary-border: #3c3b39;
$primary-content-wrapper: #303030;

$input-background: #474644;
$input-border: #555452;
