$primary-brand: #e5504c;
$primary-dark: #1d1d27;
$primary-light: #f9f9f9;
$secondary-brand: #41c3fd;
$secondary-dark: #252432;

$font-color-secondary: #4f4f5b;
$font-color-label: #84839a;
$font-color-input: #f9f9f9;
$font-color-sidebar-item: #807f96;

$input-bg-color: #323140;