// Defaults

* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  background: $primary-background;
}

body {
  font-family: 'Helvetica Neue';
  font-weight: $font-regular;
  color: $primary-text;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

.zcash {
  position: relative;
  min-height: 100%;

  &__header {
    height: $header-height;
    margin-left: $sidebar-width;
  }

  &__body {
    height: 100%;
    margin-left: $sidebar-width;
  }
}