// Fonts
$primary-font-family: 'PT Sans';
$font-regular: 400;

// Borders
$border-radius: 5px;

// Spacing
$base-spacing: 16px;

// UI
$footer-height: 100px;
$header-height: 80px;
$sidebar-width: 20rem;
$sidebar-padding: 2rem;