.button {
  background: $input-bg-color;
  border: none;
  box-shadow: none;
  border-radius: $border-radius;
  font-size: 14px;
  font-weight: 700;
  color: $primary-light;
  background-color: $primary-brand;
  padding: 15px 35px;
  outline: 0;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  width: 220px;
  margin-top: 10px;

  &:hover {
    color: $primary-light;
    background: darken($primary-brand, 10%);
  }

  &:focus {
    color: $primary-light;
    background: darken($primary-brand, 5%);
  }
}