.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;

  &__label {
    color: $primary-label;
    padding-left: 0.1rem;
    padding-bottom: 0.5rem;
    font-size: 16px;
  }

  &__input,
  &__textarea {
    background: $input-background;
    border-radius: $border-radius;
    border: none;
    box-shadow: none;
    padding: 0.75rem 1.5rem;
    color: $primary-text;
    width: 100%;

    &::placeholder {
      font-weight: 700;
    }

    &:focus {
      outline: none;
    }
  }

  &__textarea {
    font-size: 18px;
    color: $primary-text;
  }

  &__input {
    font-size: 20px;
    height: 46px;
    width: 100%;
  }

  &--large-input {
    .input-wrapper__textarea,
    .input-wrapper__input {
      width: 100%;
    }
  }
}

.dropdown {
  width: 100%;

  .Select {
    &.is-focused,
    &.is-open {
      .Select-control {
        background: $input-background;
      }
    }
  }

  .Select-control {
    background: $input-background;
    border: none;
    height: 36px;
    padding: 0.75rem 1rem 0.75rem 0;
    box-shadow: none;
    border-radius: $border-radius;
    font-size: 20px;
  }

  .Select-placeholder,
  .Select-value {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.5rem !important;
  }

  .Select-input {
    input {
      padding: 0 1rem;
    }
  }
}