.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: $sidebar-width;
  border-right: 1px solid $primary-border;
  background: $primary-sidebar;

  &__header {
    margin-bottom: 1rem;
    border-bottom: 1px solid $primary-border;
  }

  &__header-content {
    border-radius: $border-radius;
    display: flex;
    flex-direction: row;
    padding: 1rem;
  }

  &__header-title {
    display: flex;
    align-items: center;
    color: $primary-text;

    img {
      width: 32px;
      margin-right: 0.25rem;
    }
  }

  &__balance {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }

  &__balance-label {
    color: $primary-label;
    font-size: 12px;
    letter-spacing: 0.5px;
  }

  &__balance-value {
    color: $primary-text;
    font-size: 26px;
    font-weight: 700;
    padding: 0.5rem 0 0.35rem;
    letter-spacing: 0.5px;

    &:after {
      content: 'ZEC';
      font-size: 12px;
      font-weight: 700;
      padding-left: 0.25rem;
    }
  }

  &__balance-sub-value {
    color: $primary-label;
    font-size: 14px;
    letter-spacing: 0.5px;
  }

  &__menu {
    margin: 0 0 1rem 0;
    display: flex;
    flex-direction: column;
  }

  &__menu-item {
    color: $primary-text;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 0.75rem 1rem 0.75rem 1.5rem;
    cursor: pointer;
    text-decoration: none;
    transition: 0.1s ease-in-out;

    &.active {
      background-color: $primary-sidebar-active;
    }
  }

  &__info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  &__info-title {
    color: $primary-label;
    padding: 0.5rem 1.5rem 1rem 1.5rem;
    font-size: 16px;
    font-weight: 700;
  }

  &__info-content {
    padding: 1.5rem;
    border-top: 1px solid $primary-border;
  }

  &__info-line {
    color: #ebebeb;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__info-line-label {
    font-size: 13px;
    letter-spacing: 0.5px;
    color: $primary-label;
  }

  &__info-line-value {
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.5px;
    color: $primary-text;
  }
}