.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: $sidebar-width;

  &__header {
    padding: 1rem;
  }

  &__header-content {
    border-radius: $border-radius;
    display: flex;
    flex-direction: row;
    background: $secondary-dark;
    padding: 1rem;
  }

  &__header-title {
    display: flex;
    align-items: center;
    color: $primary-light;

    img {
      width: 32px;
      margin-right: 0.25rem;
    }
  }

  &__balance {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }

  &__balance-label {
    color: $font-color-label;
    font-size: 12px;
  }

  &__balance-value {
    color: $primary-light;
    font-size: 28px;
    font-weight: 800;
    padding-top: 0.5rem;

    &:after {
      content: 'ZEC';
      font-size: 12px;
      font-weight: 700;
      padding-left: 0.25rem;
    }
  }

  &__balance-sub-value {
    color: $font-color-label;
    font-size: 12px;
    letter-spacing: 0.5px;
  }

  &__menu {
    margin: 0 0 1rem 0;
    display: flex;
    flex-direction: column;
  }

  &__menu-item {
    color: $font-color-sidebar-item;
    border-radius: $border-radius;
    font-size: 16px;
    font-weight: 700;
    margin: 0 1rem 0 0;
    padding: 0.75rem 1rem 0.75rem 1.5rem;
    cursor: pointer;
    text-decoration: none;
    transition: 0.1s ease-in-out;

    &:hover {
      color: $primary-light;
    }

    &.active {
      color: $primary-light;
      background-color: lighten($primary-dark, 15%);
    }
  }

  &__info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 2rem);
    border-radius: $border-radius;
    padding: 1rem;
  }

  &__info-title {
    color: $font-color-label;
    padding: 0.5rem 1.5rem 1rem 0;
    font-size: 14px;
    font-weight: 700;
  }

  &__info-content {
    background: $secondary-dark;
    padding: 0.5rem 1.5rem 1.5rem 1.5rem;
  }

  &__info-line {
    color: #ebebeb;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__info-line-label {
    font-size: 13px;
    color: $font-color-label;
  }

  &__info-line-value {
    font-weight: 800;
    font-size: 13px;
    color: $primary-light;
  }
}